.tituloP{
    padding-top: 15px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.buscaliente {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 110vw;
  overflow-x: auto;

}

.buscaliente:nth-child(1){
  flex: 0 0 100%;
  align-items: center;
  
}

.tabla-scroll{
  width: 100%;
  //overflow-x: auto;
}

.tab-factura{
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
}