.tituloP{
    padding-top: 15px;
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.buscaliente {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  overflow-x: hidden;

}

.buscaliente:nth-child(1){
  flex: 0 0 100%;
  align-items: center;
  
}

.tabla-scroll{
  width: 100%;
  //overflow-x: auto;
}

.tab-factura{
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

.ValorPago{
 margin-top: 20px;
    display: flex;
   
    flex-wrap: wrap !important;
}

@media (max-width:836px) {
  .inputmetodos{
    flex:0 0 25%;
  }
  
}

@media (max-width:751px) {
  .inputmetodos{
    flex:0 0 100%;
  }

  .tabla-scroll-tp{
    flex:0 0 100% !important;
   div{
    max-width: 100% !important;
    width:100%
   }
  }
  
}

@media (max-width:572px) {
  .tabla-scroll-tp{
    flex:0 0 50% !important;

    div{
      max-width: 400px !important;
     
     }
  
  }
}

.generarR{
  border: none;
 
  border-radius: 10px;
  padding: 10px;
  transition: 1s all;
}

.generarR:active{
  background-color: rgba(128, 139, 150 ,0.8);

}