<div class="row">
  <div class="col-12">
    <a
      mat-raised-button
      class="custom-button-pedido"
      routerLink="/admin/tienda"
    >
      <mat-icon>arrow_back</mat-icon>
      volver
    </a>
  </div>
  <div style="width: 100%">
    <div class="col-12 filtros-pedidos">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Descripcion</mat-label>
          <input
            matInput
            id="descripcion"
            #descripcion
            [(ngModel)]="this.descripcio"
            (click)="comensarbusqueda()"
            (keyup)="buscarpedido()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Fecha inicio</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInicio"
            [(ngModel)]="fechaInicio"
            (dateChange)="aplicarFiltroFecha()"
            placeholder="dd/mm/aaaa"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Fecha fin</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFin"
            [(ngModel)]="fechaFin"
            (dateChange)="aplicarFiltroFecha()"
            placeholder="dd/mm/aaaa"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <button
          mat-icon-button
          *ngIf="fechaInicio || fechaFin"
          (click)="limpiarFechas()"
          style="color: #9e9e9e"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select value="">
            <mat-option
              [value]="item"
              *ngFor="let item of estado"
              (click)="selecionaritem(item)"
              >{{ item }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div style="overflow-x: auto; width: 100%">
    <table mat-table [dataSource]="pedido" class="mat-elevation-z8 col-12">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Numero pedido</th>
        <td mat-cell *matCellDef="let element">{{ element.codigo_pedido }}</td>
      </ng-container>

      <ng-container matColumnDef="nombrevendedor">
        <th mat-header-cell *matHeaderCellDef>Vendedor</th>
        <td mat-cell *matCellDef="let element">{{ element.nombrevendedor }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="estadopedido">
        <th mat-header-cell *matHeaderCellDef>Estado pedido</th>
        <td mat-cell *matCellDef="let element">{{ element.estadopedido }}</td>
      </ng-container>

      <!-- Weight Column -->

      <ng-container matColumnDef="razonsocial_clientes">
        <th mat-header-cell *matHeaderCellDef>Razón social</th>
        <td mat-cell *matCellDef="let element">
          {{ element.razonsocial_clientes }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha creacion">
        <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha_creacion }}</td>
      </ng-container>

      <ng-container matColumnDef="totalpedido">
        <th mat-header-cell *matHeaderCellDef>Total pedido</th>
        <td mat-cell *matCellDef="let element" style="white-space:nowrap;">
          ${{ element.totalpedido.toLocaleString("de-DE") }}
        </td>
      </ng-container>
       <ng-container matColumnDef="Codigofactura">
        <th mat-header-cell *matHeaderCellDef>Codigo factura</th>
        <td mat-cell *matCellDef="let element">
          {{ element.codigofa}}
        </td>
      </ng-container>

         <ng-container matColumnDef="Totalfactura">
        <th mat-header-cell *matHeaderCellDef>Total factura</th>
        <td mat-cell *matCellDef="let element" style="white-space:nowrap;">
        {{ element.totalfactura ? '$ ' + element.totalfactura.toLocaleString('de-DE') : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element" style="white-space: nowrap">
          <a mat-icon-button color="socondary" (click)="pdf(element)">
            <img
              src="../../../../../assets/images/imgpdf.svg"
              style="color: #fe676c; width: 34px; height: 36px"
              class="imgicon"
            />
          </a>

          <button
            mat-icon-button
            style="color: #5db5f2"
            (click)="enviarcorreo(element)"
          >
            <mat-icon>forward_to_inbox</mat-icon>
          </button>

          <button
            mat-icon-button
            color="socondary"
            (click)="eliminar_pedido(element)"
            *ngIf="
              element.estadopedido !== 'ANULADO' &&
              element.estadopedido !== 'FACTURADO'
            "
          >
            <img
              src="../../../../../assets/images/delete_button.svg"
              style="width: 28px; height: 28px"
              class="imgicon"
            />
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    </div>

    <div class="col-12" style="display: flex; justify-content: center">
      <div style="display: inline-flex">
        <div style="display: flex">
          <span>{{ this.pagina }}-{{ this.total_registros }}</span>
        </div>
        <div style="display: flex">
          <a
            [routerLink]="['/admin/pedido']"
            [queryParams]="{ pagina: this.pagina - 1 }"
            ><mat-icon>chevron_left</mat-icon></a
          ><span>{{ this.pagina }}</span
          ><a
            [routerLink]="['/admin/pedido']"
            [queryParams]="{ pagina: this.pagina + 1 }"
            ><mat-icon>chevron_right</mat-icon></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
