table {
  width: 100%;
}
.buscaliente {
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100vw;


}

.buscaliente:nth-child(1){
  flex: 0 0 100%;
  align-items: center;
  
}

.tabla-scroll{
  width: 100%;
 table{
  overflow-x: visible;
 }
  

 
  //overflow-x: auto;
}

.tab-factura{
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
}

.totalCartera{
  padding-top: 10px;
  display: flex;
  font-weight: bold;
}

table  td{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  /* Alinea verticalmente el contenido de la celda al centro,
en lugar de estar pegado arriba (top) o abajo (bottom).
Esto es útil cuando en una misma fila tienes texto y elementos como íconos o botones. */
  vertical-align: middle !important;
  /* Ese valor solo reduce el espacio vertical entre líneas, esto genera una especie de centrado ya que proporciona
  espacio entre la parte superior y inferior del texto*/
  line-height: 1.2 !important;
  font-size: 14px !important;


}



.tituloP{
  padding-top: 15px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}
//estilos boton pdf
.botonpdf{
  border: none;
  border-radius: 10px;
  background: #fff;
  transition:  background-color 0.5s ease;;
}

.botonpdf:active{
  background-color: rgba(133, 146, 158 ,0.5);
}

.spandatosc{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tablecarteradiv table td,
.tablecarteradiv table th {
  white-space: nowrap !important;
}

.tablecarteradiv .mat-header-row {
    position: sticky !important;
  top: 0 !important;
  background: #fff; /* Fondo para que no se vea transparente */
  z-index: 5;      /* Para que quede por encima de las filas */
  text-align: center;
}
.tablecarteradiv>table td span strong{
  white-space:nowrap !important;
}