.exit-button {
  position: absolute;
  right: 10px;
}

.content {
  height: calc(100vh - 0px);
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden !important;
 

}


.navinfo{
  position: sticky;
  z-index:10;
  background: white;
  top:65px;
  display: flex;
  flex-direction: column;
  background:#3949ab;
  border-radius: 4px;
  box-shadow: 0 0px 17px 0px rgba(129, 121, 211, 0.9) !important ;
  padding:2px;
  width: 100%;
  width: 100vw;   /* ocupa todo el viewport horizontal */
  min-width: 100%; /* asegura que si el contenido crece, la barra también */
}
@media (max-width:599px) {
  .navinfo{
    top:55px;
  }
  
}
.navinfo  div{
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.navinfo  div > span{
 color: #fff;
}

.navinfo >:nth-child(2){
  border: 1px dashed #fff;
}



.content.auth {
  height: calc(100vh - 0px) !important;
  padding-top: 0 !important;
}


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navinfo {
  flex: 0 0 auto; /* Altura fija según contenido */
  padding: 8px;
  background-color: #1976d2; /* solo ejemplo */
  color: #fff;
}

.content {
  flex: 1 1 auto; /* Esto hace que crezca y ocupe lo que sobra */
  overflow: auto; /* Aquí se aplicará el scroll */
  min-height: 0; /* Importante para que funcione bien con flexbox */
}
//estilos botones navegacion
.botones-navegacion{
  text-decoration: none;
  color:#000;
  font-size: 1rem;
 
  
}



::ng-deep .listitem .mat-list-item-content{
  justify-content: start !important;
   transition:  background-color 1s;
}

::ng-deep .listitem  span  span{
  display: none !important;
}

::ng-deep .listitem .mat-list-item-content:hover{
border-radius: 8px;
 background-color: rgb(229, 232, 232);
}
