<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="mode.value">
    <div class="menu" *ngIf="showToolbar">Opciones</div>
  
        <mat-list role="list">
  <mat-list-item role="listitem" class="listitem">
    <a matButton routerLink="/admin/tienda"  class="botones-navegacion" style="display:flex; justify-content:center;"><mat-icon>shopping_cart</mat-icon>Tomar pedidos</a>
  </mat-list-item>
  <mat-list-item role="listitem"  class="listitem">
    <a matButton routerLink="/admin/cartera"  class="botones-navegacion"  style="display:flex; justify-content:center;" ><mat-icon>wallet</mat-icon>Cartera</a>
  </mat-list-item>
  <mat-list-item role="listitem" class="listitem">

    <a matButton href="https://www.google.com/" target="_blank" class="botones-navegacion"  style="display:flex; justify-content:center;"><mat-icon>receipt_long</mat-icon>Recibo caja</a>
  </mat-list-item>
  <mat-list-item role="listitem"  class="listitem"> 
    <a matButton href="https://www.google.com/" target="_blank" class="botones-navegacion"  style="display:flex; justify-content:center;"><mat-icon>inventory</mat-icon>Inventario físico</a>
  </mat-list-item>
</mat-list>
   
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <!-- <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon" style="border: none !important; background: #fff;"  (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

      <span class="px-3">Toma pedidos pazzioli </span>
      <button
        mat-icon-button
        class="exit-button"
        (click)="salir()"
        *ngIf="data?.response"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <div class="navinfo" *ngIf="data?.response">
      <div>
        <mat-icon style="color: #fff">business</mat-icon>
        <span>{{ data.config.RAZON_SOCIAL }}</span>
      </div>
      <div></div>

      <div>
        <div>
          <mat-icon style="color: #fff">storefront</mat-icon>
          <span>{{ data.alias }}</span>
        </div>
        <div>
          <mat-icon style="color: #fff">person</mat-icon>
          <span>{{ data.nombreusuario }} ({{ data.nombre }})</span>
        </div>
      </div>
    </div>
    <div class="content" [class.auth]="!showToolbar">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
