<mat-drawer-container class="example-container" [hasBackdrop]="true" style="overflow:hidden !important;">
  <mat-drawer #drawer [mode]="mode.value">
    <div class="menu" *ngIf="showToolbar" style="display: flex;">
      <div>
        <mat-card-title class="tituloDrawer">Opciones</mat-card-title>
      </div>
      <div style="margin-left: auto;">
        <button mat-icon-button class="cerrar_drawer" (click)="drawer.close()" *ngIf="data?.response">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
    </div>
    
  <mat-list role="list">    
    <mat-list-item role="listitem" class="listitem" *ngIf="TomarPedidos">
      <a matButton routerLink="/admin/inicial" (click)="drawer.close()" class="botones-navegacion" style="display:flex; justify-content:center;"><mat-icon>home</mat-icon>Inicio</a>
    </mat-list-item>
    <mat-list-item role="listitem" class="listitem" *ngIf="TomarPedidos">
      <a matButton routerLink="/admin/tienda"   class="botones-navegacion" style="display:flex; justify-content:center;"><mat-icon>shopping_cart</mat-icon>Tomar pedidos</a>
    </mat-list-item>
    <mat-list-item role="listitem"  class="listitem" *ngIf="ConsultarCartera || CrearReciboIngreso">
      <a matButton (click)="mostrarSubItem(1)" class="botones-navegacion"  style="display:flex; justify-content:center;" ><mat-icon>wallet</mat-icon>Cartera</a>
    </mat-list-item>
    <div *ngIf="mostrarItemsCartera === true" class="subitem">
      <mat-list role="list" dense>
        <mat-list-item role="listitem"  class="listitem" *ngIf="ConsultarCartera">
          <a matButton routerLink="/admin/cartera" (click)="drawer.close(); mostrarItemsCartera=false;  mostrarItemsinventario=false" class="botones-navegacion"  style="display:flex; justify-content:center;" ><mat-icon>wallet</mat-icon>Consultar Cartera</a>
        </mat-list-item>

         <mat-list-item role="listitem"  class="listitem" *ngIf="InventarioFisico">
          <a matButton routerLink="/admin/auxcliente" (click)="drawer.close(); mostrarItemsCartera=false ;  mostrarItemsinventario=false" class="botones-navegacion"  style="display:flex; justify-content:center;white-space:nowrap; padding-left: 0;" ><mat-icon>person</mat-icon>Auxiliar cliente</a>
        </mat-list-item>
      </mat-list>
      <mat-list-item role="listitem" class="listitem" *ngIf="CrearReciboIngreso && data.codigoComprobanteReciboIngreso>0">
        <a matButton routerLink="/admin/recibodecaja" (click)="drawer.close(); mostrarItemsCartera=false ;  mostrarItemsinventario=false" class="botones-navegacion"  style="display:flex; justify-content:center;"><mat-icon>receipt_long</mat-icon>Recibo caja</a>
      </mat-list-item>
    </div>
    <mat-list-item role="listitem"  class="listitem"   *ngIf="InventarioFisico" > 
      <a matButton   class="botones-navegacion"  (click)="mostrarsubmenuiteminventario()" style="display:flex; justify-content:center;"><mat-icon>inventory</mat-icon>Inventarios</a>
    </mat-list-item>
     <div *ngIf="mostrarItemsinventario=== true" class="subitem">
      <mat-list role="list" dense>
        <mat-list-item role="listitem"  class="listitem"  *ngIf="consultarproductos">
          <a matButton routerLink="/admin/inventario" (click)="drawer.close(); mostrarItemsCartera=false ;  mostrarItemsinventario=false" class="botones-navegacion"  style="display:flex; justify-content:center;white-space:nowrap; padding-left: 0;"><mat-icon>shelves</mat-icon>Consultar inventario</a>
        </mat-list-item>

         <mat-list-item role="listitem"  class="listitem"  *ngIf="consultarinventariofisico">
          <a matButton routerLink="/admin/inventariofisico" (click)="drawer.close(); mostrarItemsCartera=false ;  mostrarItemsinventario=false" class="botones-navegacion"  style="display:flex; justify-content:center;white-space:nowrap; padding-left: 0;" ><mat-icon>inventory</mat-icon>Inventario fisico</a>
        </mat-list-item>
      </mat-list>

      
   
    </div>

      <mat-list-item role="listitem"  class="listitem" *ngIf="cuadrecaja" > 
      <a matButton   class="botones-navegacion"  (click)="mostrarsubmenuitemcaja()" style="display:flex; justify-content:center;"><mat-icon>point_of_sale</mat-icon>Caja</a>
    </mat-list-item>
     <div *ngIf="  this.itemscaja=== true" class="subitem">
      <mat-list role="list" dense>
        <mat-list-item role="listitem"  class="listitem" >
          <a matButton routerLink="/admin/cuadre" (click)="drawer.close(); this.itemscaja=false" class="botones-navegacion"  style="display: flex
;
    justify-content: center;
    white-space: nowrap;
    padding-left: 0;
    align-items: center;
    gap:5" ><img src="../assets/images/imagencu.svg"/>Consultar cuadre</a>
        </mat-list-item>

    
      </mat-list>

      
   
    </div>

    


  </mat-list>
   
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <!-- <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button> -->
      
  <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon" style="border: none !important; background: #fff;"  (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

      <span class="px-3">Pazzioli</span>
      <button
        mat-icon-button
        class="exit-button"
        (click)="salir()"
        *ngIf="data?.response"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <div class="navinfo" *ngIf="data?.response">
      <div>
        <mat-icon style="color: #fff">business</mat-icon>
        <span>{{ data.config.RAZON_SOCIAL }}</span>
      </div>
      <div></div>

      <div>
        <div>
          <mat-icon style="color: #fff">storefront</mat-icon>
          <span>{{ data.alias }}</span>
        </div>
        <div>
          <mat-icon style="color: #fff">person</mat-icon>
          <span>{{ data.nombreusuario }} ({{ data.nombre }})</span>
        </div>
      </div>
    </div>
    <div class="content" [class.auth]="!showToolbar">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
