<div>
  <mat-card-title class="tituloP">Consultar Producto</mat-card-title>
</div>

<div
  class="row loader-content"
  style="padding-top: 20px; height: 100% !important"
>
<div class="buscaliente" style="height: 100% !important">
<mat-card
      class="search-card col-12"
      style="max-width: 70%; max-height: fit-content"
    >
      <mat-card-header class="search">
        <div style="display: flex; justify-content: space-between">
          <mat-card-title class="m-0 " style="margin-left: 15px !important;">Producto</mat-card-title>
          <div style="margin-right: 15px !important;">
            <label for="cartera" style="font-size: 1rem; font-weight: bold"
              >Completa </label
            >
            <input
              type="checkbox"
              id="cartera"
              [(ngModel)]="obtenertodo"
              (ngModelChange)="cargarcarteracompleta()"
              (click)="navegarpagina1()"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="fill" search >
              <mat-label>Buscar Producto</mat-label>
              <input
                matInput
                placeholder=""
                (ngModelChange)="autocompletarinputclient($event)"
                [(ngModel)]="productchange"
              />
              <mat-icon matSuffix>search</mat-icon>

              
            </mat-form-field>
          </div>
        </div>
      </mat-card-header>

      

   <mat-card-footer style="

   
    padding: 10px 12px 10px 12px;">
    <div class="row mx-0  w-100 w100">
      <div class="col-6 ">
             <mat-form-field appearance="fill" class="classformbodega w100">
  <mat-label>Bodega</mat-label>
  <select matNativeControl  [(ngModel)]="this.bodegaSeleccionada"  (ngModelChange)="cargabodega($event)">
    <option value="" selected>Todo</option>
    <option  *ngFor="let item of bodegas" [value]="item.almacen">{{item.alias}}</option>
    
  </select>
</mat-form-field>
      </div>
      <div class="col-3">
   <mat-form-field appearance="fill" class="classformbodega w100" >
  <mat-label>Linea</mat-label>
  <select matNativeControl  [(ngModel)]="this.linea"  (ngModelChange)="carlinea($event)">
    <option value="0" selected>Todo</option>
    <option  *ngFor="let item of lineas" [value]="item.codigo">{{item.nombre}}</option>
    
  </select>
</mat-form-field>
      </div>
      <div class="col-3 ">
   <mat-form-field  appearance="fill" class="classformbodega w-100 w100">
  <mat-label>Grupo</mat-label>
  <select matNativeControl  [(ngModel)]="this.grupo"  (ngModelChange)="cargabodega($event)">
    <option value="0" selected>Todo</option>
    <option  *ngFor="let item of grupos" [value]="item.codigo">{{item.nombre}}</option>
    
  </select>
</mat-form-field>
      </div>
    </div>
 
   </mat-card-footer>


   
    </mat-card>
<div class="tabla-scroll" style="width: 100%; margin-top: 10px;   ">
  <div class="tabla-contenedor" (scroll)="onScroll($event)">
   
    <table
      mat-table
      [dataSource]="productos"
      class="mat-elevation-z8 col-12 tab-factura"
      multiTemplateDataRows
      *ngIf="this.bodegaSeleccionada===''"
    >

      <!-- Columnas -->
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef sticky>REFERENCIA</th>
        <td mat-cell *matCellDef="let element">{{ element.referencia }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef sticky>DESCRIPCIÓN</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef sticky>COSTO</th>
        <td mat-cell *matCellDef="let element">${{ element.costo.toLocaleString("de-DE") }}</td>
      </ng-container>

      <ng-container matColumnDef="precio1">
        <th mat-header-cell *matHeaderCellDef sticky>PRECIO1</th>
        <td mat-cell *matCellDef="let element">${{ element.precio1.toLocaleString("de-DE") }}</td>
      </ng-container>

        <ng-container matColumnDef="precio2">
        <th mat-header-cell *matHeaderCellDef sticky>PRECIO2</th>
        <td mat-cell *matCellDef="let element">${{ element.precio2.toLocaleString("de-DE") }}</td>
      </ng-container>

        <ng-container matColumnDef="precio3">
        <th mat-header-cell *matHeaderCellDef sticky>PRECIO3</th>
        <td mat-cell *matCellDef="let element">${{ element.precio3.toLocaleString("de-DE") }}</td>
      </ng-container>

      <!-- Columnas de cantidades -->
   

      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>CANTIDAD</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad }}</td>
      </ng-container>

     



      <!-- Última columna fija -->
      
        <ng-container matColumnDef="totalproducto" stickyEnd>
        <th mat-header-cell *matHeaderCellDef  stickyEnd>TOTAL PRODUCTO</th>
        <td mat-cell *matCellDef="let element" stickyEnd>
          <ng-container>
            ${{ element.cantidadtotal.toLocaleString("de-DE") }}
          </ng-container>
         
        </td>
      </ng-container>
      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tablatr"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="tablatr"></tr>

    </table>




     <table
      mat-table
      [dataSource]="productos"
      class="mat-elevation-z8 col-12 tab-factura"
      multiTemplateDataRows
      *ngIf="this.bodegaSeleccionada!==''"
    >

      <!-- Columnas -->
      <ng-container matColumnDef="referencia">
        <th mat-header-cell *matHeaderCellDef sticky>Referencia</th>
        <td mat-cell *matCellDef="let element">{{ element.referencia }}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef sticky>Descripción</th>
        <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
      </ng-container>

      
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef sticky>Costo</th>
        <td mat-cell *matCellDef="let element">${{ element.costo.toLocaleString("de-DE") }}</td>
      </ng-container>

      <ng-container matColumnDef="precio1">
        <th mat-header-cell *matHeaderCellDef sticky>Precio1</th>
        <td mat-cell *matCellDef="let element">${{ element.precio1.toLocaleString("de-DE") }}</td>
      </ng-container>

        <ng-container matColumnDef="precio2">
        <th mat-header-cell *matHeaderCellDef sticky>Precio2</th>
        <td mat-cell *matCellDef="let element">${{ element.precio2.toLocaleString("de-DE") }}</td>
      </ng-container>

        <ng-container matColumnDef="precio3">
        <th mat-header-cell *matHeaderCellDef sticky>Precio3</th>
        <td mat-cell *matCellDef="let element">${{ element.precio3.toLocaleString("de-DE") }}</td>
      </ng-container>

      <!-- Columnas de cantidades -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let element">{{ element.Cantidad }}</td>
      </ng-container>

    




      <!-- Última columna fija -->
   

      <ng-container matColumnDef="totalproducto">
        <th mat-header-cell *matHeaderCellDef sticky stickyEnd>Total Producto</th>
        <td mat-cell *matCellDef="let element" stickyEnd>
          <ng-container>
            ${{ element.cantidadtotal.toLocaleString("de-DE") }}
          </ng-container>
         
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="tablatr"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2" class="tablatr"></tr>

    </table>



   
  </div>

  <div class="d-flex justify-content-end" style="margin-top: 30px; padding: 0 10px 50px 10px;">
   
    <span style="font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif !important;">Total: ${{totalglobal.toLocaleString("de-DE") }}
    </span>
</div>
  
  <!--
<div class="d-flex justify-content-center containerexport">
        <button
        mat-flat-button
        color="primary"
        full-button
        pedido
        class="botonotions botonexpor"
       
        style="box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2) !important;
    width: 100px;
    height: fit-content;
    "
      >
       Exportar
      </button>
    </div>
--> 
</div>

