.add-product {
  position: absolute;
  top: 44px;
  right: 9px;
}

.search-product {
  padding-left: 5px;
  padding-right: 5px;
  
}

div.separator {
  width: calc(100% - 74px);
  position: absolute;
  height: 1px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  right: 11px;
  top: 38px;
}

.head-icon {
  font-size: 52px;
  width: 52px;
  height: 52px;
 
}

.client-name {
  margin: 0;
  margin-bottom: 4px !important;
  font-size: 19px;
  display: flex;
  height: 20px !important;
}

.client-info {
  margin: 0% !important;
  font-size: 15px;
 
  .mat-icon {
    width: 15px !important;
    height: 15px !important;
    font-size: 15px !important;
  }
}

.icon-card {
  padding-left: 5px;
  bottom: 0px;
  margin: 0 9px;
  box-shadow: 0 0px 17px 0px rgba(129, 121, 211, 0.9) !important;
}

.overflow-content {
  height: calc(100vh - 310px);
  overflow: hidden;
  margin: 0 5px !important;
  padding: 0 !important;
  .mat-list-base {
    padding: 0 !important;
    width: 100%;
    height: 100%;
    .vertical.selfScroll {
      width: 100%;
      height: 100%;
    }
  }
}

.row-prooducts {
  position: absolute;
  top: 16px;
  right: 0;
  width: calc(100% - 158px);
}

.mat-card.search-card {
  padding: 17px 0px;
  padding-bottom: 10px;
}

.prod-actions {
  padding: 17px !important;
  position: relative !important;
  padding-bottom: 10px !important;
  margin: 0 !important;
}

.total {
  margin: 14px 0;
  font-size: 30px;
  font-weight: 800 !important;
}

button[pedido] {
  max-width: 200px;
  float: right;
  right: 8px;
  font-size: 1.2rem !important;
}
.botonotions{

  

   color: #fff !important;  
   background:#1f618d !important;
   text-align: center !important;
   padding:0 !important;
   margin-left: 10px;
   font-size: 6px !important;
  max-width:20px;
  
}

.botonotions {
  ::ng-deep .mat-button-wrapper{
  font-size: 12px !important;
  

  }
 
}

.prod_card {
  position: absolute;
  bottom: 104px;
  width: calc(100% - 28px);
  transform: scale(0);
  transform-origin: bottom left;
  -webkit-transition: transform 400ms cubic-bezier(0.5, 0.25, 0, 1);
  transition: transform 400ms cubic-bezier(0.5, 0.25, 0, 1);
  z-index: 100000;
}

.prod_card.active {
  transform: scale(1);
}

.prod_card.active ~ .mat-list-base .mat-list-item:last-child {
  padding-bottom: 156px;
}

.row-action{
  display: flex;
  flex-wrap: wrap;
 
}

.mat-list-base .mat-list-item {
  transform: scale(1);
  transform-origin: bottom left;
  -webkit-transition: transform 400ms cubic-bezier(0.5, 0.25, 0, 1);
  transition: transform 400ms cubic-bezier(0.5, 0.25, 0, 1);
}

.mat-list-base .mat-list-item.deleted {
  transform: scale(0);
}

.cancel {
  position: absolute;
  right: 9px;
  top: 23px;
}

.mat-form-field-appearance-fill[br-l0] {
  width: 50%;
}

.mat-form-field-appearance-fill[br-r0] {
  width: 50%;
}

#p_actual {
  height:100px ;
}

.edit-remove {
  position: absolute;
  right: 10px;
  display: flex;
  top: 0;
  bottom: 0;
  height: fit-content;
  margin: auto;
}


@media(max-width:970px){
  
  .prod_card{
   // position:absolute;
   max-height:140px !important;
   
  
  }

 .card-list{
  bottom:160px;
  
 }
  .botonesactions{
    flex-direction: column;
    align-items: center;
  }

  #p_actual {
    height:100px;
    
  }
 

 
  .vertical .selfScroll{
    overflow-x: auto;
  }

 
}
.row-pro{
 flex-wrap: wrap;
 
}
.card_shoping{
  height: 120px !important;
}

.carrito{
 display: flex;

}

@media(max-width:1000px){
 
 
  
  
 
  
 
}
.overflow-content{
  overflow-y: auto !important;
}

.col-4-pro{
  display: flex;

}

.botonaction{
  text-align: center;
  display: flex;
  align-items:center;
  justify-content:start;
}

@media(max-width:700px){
  button[pedido]{
    width:100%;
    
    padding: 0;

  }
  .row-action-pro{
    gap:5px;
  }

  .col-boton{
    flex:1 0 50%
  }
}

@media(max-width:467px){
  .col-boton{
    flex:1;
    margin-top: 10px;
    button{
      width: 100%;
    }
    a{
      width: 100%;
    }
  }
}
::ng-deep zxing-scanner video {
 
 max-height:70px;

}
@media(max-width:700px){
  .botonotions{
    margin-top:10px;
  }

  .botontionsdel{
    margin-top:10px;
  }

}
@media (max-width:590px) {
  .row-pro{
    flex-direction: column !important;
    width:100% !important;
    
  }
   .overflow-content{
    max-height: 300px !important;
   }
  mat-card.carro {
    height: 200px !important;
    max-height: 200px !important;
    bottom:35px;
  }

  .overflow-content{
    max-height: 150px !important;
  }

  
}

.imgicon{
  svg{
    color:#000;
  }
}


button[pedido_con]{
max-width:100px;

}

::ng-deep .mat-list-text{
  display:flex !important;
  flex-direction:row !important;
  column-gap: 10px;

 

  
}
.clientelist{
  max-height: 200px;
  overflow: auto;
}


.carrito{
  ::ng-deep .mat-card-header-text{
    display: flex !important;
    flex-direction: column !important;
    width:100%;
    max-width: calc(100% - 80px) !important;
   
    ::ng-deep .mat-card-title{
      height:fit-content !important;
      span{
        display: inline-block;
        width:100%;
       word-wrap: break-word !important;
       height:fit-content;
      }
    }
  }
}

.carrito2 {
  ::ng-deep .mat-card-header-text {
    display: flex !important;
    width: 100%;
    max-width: calc(100% - 130px) !important;
    flex-wrap: wrap !important;
    

    ::ng-deep .mat-card-title {
      display: block !important; /* FORZAR que ocupe ancho completo */
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;

      span {
        display: block !important;
        max-width: 100% !important;
        white-space: normal !important;           // ← esto es clave al estebleserlo normal esto me pemitira pasa el contido  de mi span a la siguiente linea
        overflow-wrap: break-word !important; //Significa: "Si una palabra muy larga no cabe en su contenedor, permite romperla en
        word-break: break-word !important;
      }
    }
  }
}

::ng-deep .overflow-content{
  max-height: 500px !important;
}
.prod_card{
  height: 120px !important;
}

.escaner{
  border: 1px solid #28b463;
  
  
}

.scanner{
  video{
    max-height: 100% !important;
  }
}

::ng-deep zxing-scanner{
  video{
    max-height: 100% !important;
  }

}


