<mat-spinner
  [diameter]="50"
  [strokeWidth]="3"
  class="loader loader-fixed"
  [class.shown]="loader"
>
</mat-spinner>
<label
  class="loader loader-text mat-text-primary"
  style="position: fixed !important"
  [class.shown]="loader"
  >Espere...</label
>

<div class="row loader-content" [class.hidden]="loader">
  <!-- CLIENTES -->
  <div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
    <mat-card class="search-card">
      <mat-card-header class="search">
        <mat-card-title class="m-0">Clientes</mat-card-title>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="fill" search>
              <mat-label>Buscar clientes</mat-label>
              <input
                [(ngModel)]="buscarCliente"
                matInput
                placeholder=""
                (ngModelChange)="autocompletarinputclient($event)"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="overflow-content" style="height: auto">
        <!-- LISTA CLIENTES -->
        <mat-selection-list #shoes [multiple]="false" class="clientelist">
          <mat-list-option
            *ngFor="let _cliente of clientes"
            [value]="_cliente"
            (click)="seleccionarCliente(_cliente)"
            style="width: calc(100% - 32px); margin: auto; border-radius: 8px"
          >
            <div>
              <img
                *ngIf="_cliente.imagen; else sinimagen"
                [src]="'http://localhost:3000/' + _cliente.imagen"
                style="
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  object-fit: cover;
                  padding: 10px;
                "
              />
              <ng-template #sinimagen>
                <mat-icon mat-list-icon style="padding: 10px">face</mat-icon>
              </ng-template>
            </div>
            <div>
              <div mat-line class="bold">{{ _cliente.razonSocial }}</div>
              <div mat-line><b>Id: </b> {{ _cliente.identificacion }}</div>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <!-- CLIENTE SELECCIONADO -->
      <mat-card class="b-primary icon-card" style="height: 100px">
        <mat-card-header style="border: none !important">
          <div mat-card-avatar>
            <img
              *ngIf="clienteSeleccionado.imagen; else sinimagen"
              [src]="'http://localhost:3000/' + clienteSeleccionado.imagen"
              style="
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
              "
            />
            <ng-template #sinimagen>
              <mat-icon class="head-icon" style="margin: 11px 0">
                face
              </mat-icon>
            </ng-template>
          </div>
          <mat-card-title class="client-name">{{
            clienteSeleccionado.nombre
          }}</mat-card-title>
          <div class="separator"></div>
          <mat-card-subtitle class="client-info">
            <div class="row">
              <div class="col-6 p-0 elipsis">
                <mat-icon>perm_identity</mat-icon>
                {{ clienteSeleccionado.identificacion }}
              </div>
              <div class="col-6 p-0 elipsis">
                <mat-icon>phone_android</mat-icon>
                {{ clienteSeleccionado.celulares }}
              </div>
              <div class="col-6 p-0 elipsis">
                <mat-icon>phone</mat-icon>
                {{ clienteSeleccionado.telefonoFijo }}
              </div>
              <div class="col-6 p-0 elipsis">
                <mat-icon>alternate_email</mat-icon>
                {{ clienteSeleccionado.email }}
              </div>
              <div class="col-12 p-0 elipsis">
                <mat-icon>location_city</mat-icon>
                {{ clienteSeleccionado.direccion }}
              </div>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-card>

    <mat-card
      class="b-primary card_shoping"
      id="p_actual"
      *ngIf="shoping_card1"
      style="height: 175px !important"
    >
      <mat-card-header class="carrito" style="border: none !important">
        <div mat-card-avatar>
          <mat-icon class="head-icon"> shopping_cart </mat-icon>
        </div>
        <mat-card-title class="client-name">
          <span>{{ productoActual.nombre }}</span></mat-card-title
        >
        <!-- <div class="separator"></div> -->

        <mat-card-subtitle class="client-info" style="margin: 0 !important">
          <div class="row-pro">
            <div>
              <div class="p-0" style="display: flex">
                <b>Codigo contable: </b>{{ productoActual.codigoContable }}
              </div>
            </div>
            <div class="col-6 p-0" style="display: flex">
              <b>Disponible: </b>{{ cantidadactual }}
            </div>
            <div class="col-6 p-0" style="display: flex">
              <b>Cantidad: </b>{{ cantidad }}
            </div>

            <div class="col-6 p-0" style="display: flex">
              <b>Precio: </b>${{ precio.toLocaleString("de-DE") }}
            </div>
            <div class="col-6 p-0" style="display: flex">
              <b>Total:</b>${{ (cantidad * precio).toLocaleString("de-DE") }}
            </div>
          </div>
        </mat-card-subtitle>

        <button mat-mini-fab color="warn" class="cancel" (click)="reiniciar()">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-header>
    </mat-card>
  </div>

  <!-- PRODUCTOS -->
  <div class="col-12 col-sm-12 -col-md-6 col-lg-8">
    <mat-card class="search-card">
      <mat-card-header class="search">
        <mat-card-title class="m-0">Productos</mat-card-title>
        <!-- BUSQUEDA DE PRODUCTOS -->
        <div class="row col-12" style="width: calc(100% - 64px)">
          <div class="col-6 col-log-6 col-sm-12 col-md-5">
            <mat-form-field appearance="fill" search>
              <mat-label>Descripcion</mat-label>
              <input
                matInput
                placeholder=""
                [formControl]="buscarDescripcion"
                [matAutocomplete]="auto"
                #trigger="matAutocompleteTrigger"
                (keyup)="buscarProductos($event, 'descripcion')"
                id="descripcion"
                #descripcion
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
                class="mi-autocomplete-panel"
              >
                <virtual-scroller
                  #scroll_prods
                  [items]="opcionesFiltradas"
                  style="height: 246px"
                >
                  <mat-option
                    *ngFor="let option of scroll_prods.viewPortItems"
                    (keyup.enter)="elegirCantidad(option)"
                    (click)="elegirCantidad(option)"
                    [value]="option"
                    class="desplegable"
                  >
                    {{ option.nombre }}
                  </mat-option>
                </virtual-scroller>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-6 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field appearance="fill" search>
              <mat-label style="font-size: 1rem">Cantidad</mat-label>
              <input
                matInput
                #inCantidad
                placeholder=""
                name="inputCantidad"
                [(ngModel)]="cantidad"
                id="cantidad"
                type="number"
                onfocus="this.select()"
              />
            </mat-form-field>
          </div>

            <div class="col-6 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field appearance="fill" search>
              <mat-label style="font-size: 1rem">precio</mat-label>
              <input
                matInput
                #inprecio
                placeholder=""
                name="inputPrecio"
                [(ngModel)]="precio"
                id="precio"
                type="number"
                [disabled]="modificarPrecio === 1"
                onfocus="this.select()"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row col-12">
          <div class="col-12" style="display: flex; flex-wrap: wrap">
            <div
              class="col-boton"
              style="display: flex; justify-content: center; flex-grow: 1"
            >
              <a
                mat-raised-button
                class="custom-button-pedido"
                [routerLink]="['/admin/pedido']"
                [queryParams]="{ pagina: 1 }"
                style="
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <mat-icon>home</mat-icon>
                <span>Pedidos realizados</span>
              </a>
            </div>

            <div
              class="col-boton"
              style="display: flex; justify-content: center; flex-grow: 1"
            >
              <button
                mat-raised-button
                class="custom-button-pedido"
                (click)="verpedidos()"
              >
                <img
                  src="../../../../../assets/images/icon_orders.svg"
                  style="color: #000"
                  class="imgicon"
                />
                Pedidos por confirmar
              </button>
            </div>
          <!--  <zxing-scanner
              class="scanner"
              (scanSuccess)="onCodeResult($event)"
              [videoConstraints]="{
                width: { ideal: 1280 },
                height: { ideal: 720 }
              }"
              [formats]="formatsEnabled"
              [tryHarder]="true"
              style="width: 100%; height: 120px"
              [ngClass]="escanedo ? 'escaner' : ''"
            ></zxing-scanner>-->
          </div>
          <div
            style="
              display: flex;
              flex-grow: 1;
              gap: 2;
              justify-content: space-between;
              flex-wrap: wrap;
            "
            class="col-12"
          >
            <button
              mat-fab
              color="warn"
              class="mr-3"
              (click)="confirmDeleteAll()"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
            <h1 class="total">
              <b>$</b> <b>{{ totalPagar.toLocaleString("de-DE") }}</b>
            </h1>
          </div>
        </div>
        <!-- AGREGAR A LA LISTA -->
        <button
          mat-fab
          color="primary"
          [disabled]="productoActual.id == '_vacio'"
          (click)="eventoEnter({ keyCode: 13 }, 'precio')"
          class="add-product"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content class="overflow-content">
        <mat-card
          class="b-primary icon-card prod_card card-list active carro"
          *ngIf="this.shoping_card2"
        >
          <mat-card-header
            class="carrito2"
            style="border: none !important; height: fit-content"
          >
            <div mat-card-avatar>
              <mat-icon class="head-icon"> shopping_cart </mat-icon>
            </div>
            <mat-card-title class="client-name"
              ><span>{{ productoActual.nombre }}</span></mat-card-title
            >
            <!-- <div class="separator"></div> -->

            <mat-card-subtitle
              class="client-info"
              style="margin: 0 !important ; width: 100% !important"
            >
              <div
                class="row row-pro"
                style="width: 100% !important ; justify-content: space-between"
              >
                <div>
                  <div class="p-0" style="display: flex">
                    <b>Codigo contable: </b>{{ productoActual.codigoContable }}
                  </div>
                </div>
                <div>
                  <div class="p-0" style="display: flex">
                    <b>Disponible: </b>{{ cantidadactual }}
                  </div>
                  <div class="p-0"><b>Cantidad: </b>{{ cantidad }}</div>
                </div>
                <div>
                  <div class="p-0">
                    <b>Precio: </b>${{ precio.toLocaleString("de-DE") }}
                  </div>
                  <div class="p-0">
                    <b>Total:</b>${{
                      (cantidad * precio).toLocaleString("de-DE")
                    }}
                  </div>
                </div>
              </div>
            </mat-card-subtitle>

            <button
              mat-mini-fab
              color="warn"
              class="cancel"
              (click)="reiniciar()"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-card-header>
        </mat-card>
        <mat-list>
          <!-- LISTA PRODUCTOS -->
          <virtual-scroller #scroll_productosMostrar [items]="productosMostrar">
            <mat-list-item
              *ngFor="let _producto of scroll_productosMostrar.viewPortItems"
              [id]="'p_' + _producto.id"
              (click)="seleccionaritem(_producto)"
              [class.active_product]="codigoitemseled === _producto.codigo"
              style="max-height: 400px !important"
            >
              <div class="row row-list-product" style="width: 100%">
                <div mat-line class="col-12 p-0">
                  <b># {{ _producto.numero }} - {{ _producto.nombre }}</b>
                </div>
                <div mat-line class="col-12 p-0 row" style="display: flex">
                  <div class="col-12 col-md-6 p-0">
                    <b>Código contable: </b>{{ _producto.codigoContable }}
                  </div>
                  <div class="col-12 col-md-6 p-0">
                    <b>Referencia: </b>{{ _producto.referencia }}
                  </div>
                </div>

                <div mat-line class="col-12 p-0 row" style="display: flex">
                  <div class="col-12 col-md-6 p-0">
                    <b>Precio</b> ${{
                      _producto.precio.toLocaleString("de-DE")
                    }}
                  </div>
                  <div class="col-12 col-md-6 p-0">
                    <b>Cantidad</b>
                    {{ _producto.cantidad.toLocaleString("de-DE") }}
                  </div>
                </div>

                <div mat-line class="col-12 p-0 row" style="display: flex">
                  <div class="col-12 p-0">
                    <b>Total</b> ${{ _producto.total.toLocaleString("de-DE") }}
                  </div>
                </div>

                <mat-divider></mat-divider>

                <!-- EDITAR O BORRAR -->
                <div class="edit-remove">
                 
                  <button
                    mat-mini-fab
                    color="warn"
                    (click)="eliminarProducto($event, _producto.codigo)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          </virtual-scroller>
        </mat-list>
      </mat-card-content>
      <div
        style="
          bottom: 0;
          width: 100%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          class="prod-actions"
          style="
            display: flex;
            background: #fff;
            width: 100%;
            border-radius: 20px;
            margin-right: 8px !important;
            flex-wrap: wrap;
          "
        >
          <!-- LIMPIAR FORMULARIO -->

          <!-- TOTAL Y PEDIDO -->

          <div
            style="display: flex; flex: 1; justify-content: space-between"
            class="botonesactions"
          >
            <button
              mat-flat-button
              color="primary"
              full-button
              pedido
              class="botonotions"
              (click)="reservarpedido()"
              style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important"
            >
              {{ id_select !== "" ? "Actualizar pedido" : "Reservar pedido" }}
            </button>

              <button
              mat-flat-button
              color="primary"
              full-button
              pedido
              class="botonotions"
              (click)="crearfactura()"
              style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important"
            >
              Facturar pedido
            </button>

            <button
              mat-flat-button
              color="primary"
              full-button
              pedido
              class="botonotions"
              (click)="crearPedido()"
              style="box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important"
            >
              Realizar pedido
            </button>

            <button
              *ngIf="id_select !== ''"
              mat-flat-button
              color="primary"
              full-button
              class="botontionsdel"
              pedido
              style="
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2) !important;
                background: #e74c3c !important  ;
                color: #fff !important;
              "
              (click)="eliminarproductoreservado()"
            >
              Eliminar pedido
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
