.tituloP{
  padding-top: 15px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  margin-top: 20px;
}

.Contenedor{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.card-row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  //height: 20%;
}

.inicial-card{
  flex: 1 1 calc(50% - 10%);
  min-width: 300px;
}

.producto-button {
  margin-bottom: 12px;
  width: 100%;
}

.producto-button .producto-btn {
  width: 100%;
  padding: 14px 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #5DB5F2; /* color por defecto, puedes ajustar */
  color: #fff;
}

/* 🎖 Estilo especial para el PRIMER puesto */
.producto-button {
  margin-bottom: 8px;
}

.producto-btn {
  width: 100%;
  display: flex;
  justify-content: start;
  //padding: 8px 12px;
  padding: 4px 8px;
  text-align: left;
  min-height: 36px;
}

.top-1 .producto-btn {
  background-color: #FEA11B;
}

.producto-content {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
}

.producto2-content {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  flex-wrap: wrap;
  max-height: 30px;
}

.trofeo-icon {
  color: #d4ac0d;
  font-size: 24px;
}

.texto-producto {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.producto-nombre {
  font-weight: 500;
  word-break: break-word;
  white-space: normal;
}

.producto-cantidad {
  font-size: 14px;
  color: #2c3e50; /* Más oscuro y legible */
  font-weight: 500;
  margin-top: 4px;
  white-space: nowrap;
}

// record pedidos
.total-pedidos-card {
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  background-color: #f4f6f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  margin-top: 20px;
}

.total-label {
  font-size: 24px;
  font-weight: 600;
  color: #5d6d7e;
  margin-bottom: 8px;
  
}

.almacenlabel{
  display: inline-block !important;
}

.total-valor {
  font-size: 36px;
  font-weight: 800;
  color: #2e86de;
}