<mat-spinner
  [diameter]="50"
  [strokeWidth]="3"
  class="loader loader-fixed"
  [class.shown]="loader"
>
</mat-spinner>
<label
  class="loader loader-text mat-text-primary"
  style="position: fixed !important"
  [class.shown]="loader"
  >Espere...</label
>
<div>
  <mat-card-title class="tituloP"> Pazzioli </mat-card-title>
</div>
<div class="Contenedor" style="height: 100% !important">
  <div class="card-row">
    <mat-card class="inicial-card">
      <mat-card-header>
        <mat-card-title> Ventas </mat-card-title>  
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>

    <mat-card class="inicial-card">
      <mat-card-header>
        <mat-card-title> Producto mas vendido </mat-card-title>  
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-row">
    <mat-card class="inicial-card">
      <mat-card-header>
        <mat-card-title> Cantidad pedidos </mat-card-title>  
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>

    <mat-card class="inicial-card">
      <mat-card-header>
        <mat-card-title> Total Recaudo </mat-card-title>  
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>
